@media screen and (max-width: 1000px) {
    header .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        margin-left: none;
    }
    
    header .ladoEsquerdo {
        display: flex;
        margin-bottom: 10px;

    }

    .botao {
        display: block;
        margin-top: 10px;
        width: 250px;
        height: 70px;
        align-items: center;
    }
    
}


@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
        
    }
}

